@* I have have no idea what any of this code does *@

@{
    ViewBag.Title = "Home Page";
}
@* dynamically moving pictures *@

<style>

    img
    {
        width: 100%;
        height: 100%;
    }

    .carousel-inner img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .carousel-inner {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/social-interaction-missionaries-fellowshipping-1262209-wallpaper.jpg" alt="">
        </div>
        <div class="item">
            <img src="~/Content/philippines-sister-missionaries-praying-teaching-ridin-1361351-wallpaper.jpg" alt="">
        </div>
        <div class="item">
            <img src="~/Content/romania-missionaries-teaching-man-1312487-wallpaper.jpg" alt="">
        </div>
        <div class="item">
            <img src="~/Content/sister-missionaries-956170-wallpaper.jpg" alt="">
        </div>
        <div class="item">
            <img src="~/Content/romania-missionaries-adults-classroom-talking-1312424-wallpaper.jpg" alt="">
        </div>
    </div>
</div>
<div class="center" style="text-align: center">
    <h1>Mission Connections</h1>
    <h2><em>"If ye are prepared ye shall not fear."</em></h2>
    <h4>Doctrine and Covenants 38:30</h4><br /><br />
    <p>Missions may seem scary, but with advice from thousands of missionaries from hundreds of missions around the world, there's no need to worry.</p>
    @* call to action *@
</div>
@* links to rest of website *@

<style>



    .this
    {
        height: 210px;
        width:350px;
    }
</style>
<div class="row">
    <div class="col-md-4" style="text-align: center">
        <a href='@Url.Action("Index", "Mission")'> <img class="this" src='@Url.Content("~/Content/Project2map.gif")' /></a>
    </div>
    <div class="col-md-4" style="text-align: center">
        <a href='@Url.Action("About", "Home")'> <img class="this"src='@Url.Content("~/Content/Project2temple.jpg")' /></a>
    </div>
    <div class="col-md-4" style="text-align: center">
        <a href='@Url.Action("Contact", "Home")'> <img class="this"src='@Url.Content("~/Content/Project2family.jpg")' /></a>
    </div>
</div> <br />
<div class="row">
    <div class="col-md-4" style="text-align: center">
        <p><b>Our Missions</b></p>
    </div>
    <div class="col-md-4" style="text-align: center">
        <p><b>About Us</b></p>    </div>
    <div class="col-md-4" style="text-align: center">
        <p><b>Contact</b></p>    </div>
</div>
